layout {
  pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
  pane split_direction="vertical" {
    pane 
    pane split_direction="horizontal" {
      make { args "install"; }
      make { args "check"; }
      pane {
        command "cat"
        args "README.md"
      }
    }
  }
  pane size=2 borderless=true {
    plugin location="zellij:status-bar"
  }
  pane_template name="make" {
    command "make"
    start_suspended true
  }
}
